.button {
  background: $c-1;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  margin: 0 auto !important;
  text-decoration: none;
  text-transform: uppercase;
  display: block;

  &:hover,
  &:focus {
    background-color: lighten($c-1, 10%);
  }

  & + & {
    margin-left: 0rem;
  }

  &--is-secondary {
    background-color: transparent;
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: underline;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $c-1;
    }
  }
}
