.rbt-highlight-text {
  font-weight: 700;
  background-color: transparent;
}
.rbt-menu-pagination-option {
  display: none;
}

.dropdown-divider {
    display: none;
}

.rbt-sr-status {
  display: none;
}

.rbt-menu {
  list-style: none;
  margin: 0;
  background-color: lighten($c-yellow, 30%);
  padding: 0;
  & li {
    padding: 0.5rem 1rem;
    &:hover {
      background-color: lighten($c-yellow, 10%);
      cursor: pointer;
    }
    &.active{
        background-color: lighten($c-yellow, 10%);
    }
    & a {
      text-decoration: none;
      color: #000;
      display: block;
    }
  }
}
